<<<<<<< HEAD
.cart {
  display: grid;
  justify-items: center;
  padding: 0 10rem;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}

.cart__header {
  display: grid;
  justify-items: center;
  margin: 2rem 0;
}

.cart__header h2 {
  color: #000;
  font-size: 2rem;
  /* border: 1px dashed #888; */
  padding: 0 12rem;
  margin-bottom: 3rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.cart__all {
  /* border: 1px solid #dfdfdf; */
  width: 65%;
  text-align: center;
}

.cart__table {
  display: flex;
  height: auto;
  width: 100%;
  /* margin-bottom: 2px; */
  border: 1px solid #88888857;
}

.cart__table-image {
  align-self: center;
  width: 9rem;
  /* border-radius: 3px; */
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 700;
  /* background-color: green; */
}

.cart__table-title {
  align-self: center;
  width: 50%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__table-price {
  align-self: center;
  width: 10%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__table-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: orange; */
}

.cart__table-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: red; */
}

.cart__table-totalPrice {
  align-self: center;
  width: 10%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__wrap {
  display: flex;
  height: 6rem;
  width: 100%;
  border-bottom-color: #88888857;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #88888857;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #88888857;
  border-right-style: solid;
  border-right-width: 1px;
}

.cart__photo {
  width: 7rem;
  overflow: hidden;
  border-radius: 5px;
  align-self: center;
  display: flex;
  margin-left: 2rem;
}

.cart__image {
  align-content: center;
  width: 70%;
  border-radius: 3px;
  overflow: hidden;
}

.cart__title {
  align-self: center;
  width: 50%;
  font-weight: 600;
  font-size: 1.5rem;
}

.cart__price {
  align-self: center;
  width: 10%;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart__delete {
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  cursor: pointer;
}

.cart__totalPrice {
  align-self: center;
  width: 10%;
  font-weight: 600;
  font-size: 1.5rem;
}

.cart__add {
  margin-left: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.cart__remove {
  margin-right: 1rem;
  margin-left: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.cart__total {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0 2rem auto;
  font-weight: 500;
  border-top-color: #88888857;
  border-top-style: solid;
  border-top-width: 1px;
}

.cart__total-quantity {
  padding: 1rem;
  margin: 0 auto 0 0;
  font-size: 2rem;
}

.cart__total-price {
  padding: 1rem;
  font-size: 2rem;
}

.cart__checkout {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem auto;
}

.checkout__button {
  border: 1px solid #cacaca;
  padding: 0 1rem;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkout__button:hover {
  background: #e7e7e7;
}

.checkout__icon {
  margin-left: 5px;
  color: red;
}
=======
.cart {
  display: grid;
  justify-items: center;
  padding: 0 10rem;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}

.cart__header {
  display: grid;
  justify-items: center;
  margin: 2rem 0;
}

.cart__header h2 {
  color: #000;
  font-size: 2rem;
  /* border: 1px dashed #888; */
  padding: 0 12rem;
  margin-bottom: 3rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.cart__all {
  /* border: 1px solid #dfdfdf; */
  width: 65%;
  text-align: center;
}

.cart__table {
  display: flex;
  height: auto;
  width: 100%;
  /* margin-bottom: 2px; */
  border: 1px solid #88888857;
}

.cart__table-image {
  align-self: center;
  width: 9rem;
  /* border-radius: 3px; */
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 700;
  /* background-color: green; */
}

.cart__table-title {
  align-self: center;
  width: 50%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__table-price {
  align-self: center;
  width: 10%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__table-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: orange; */
}

.cart__table-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: red; */
}

.cart__table-totalPrice {
  align-self: center;
  width: 10%;
  font-weight: 700;
  font-size: 1.2rem;
  /* background-color: pink; */
}

.cart__wrap {
  display: flex;
  height: 6rem;
  width: 100%;
  border-bottom-color: #88888857;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #88888857;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #88888857;
  border-right-style: solid;
  border-right-width: 1px;
}

.cart__photo {
  width: 7rem;
  overflow: hidden;
  border-radius: 5px;
  align-self: center;
  display: flex;
  margin-left: 2rem;
}

.cart__image {
  align-content: center;
  width: 70%;
  border-radius: 3px;
  overflow: hidden;
}

.cart__title {
  align-self: center;
  width: 50%;
  font-weight: 600;
  font-size: 1.5rem;
}

.cart__price {
  align-self: center;
  width: 10%;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart__delete {
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  cursor: pointer;
}

.cart__totalPrice {
  align-self: center;
  width: 10%;
  font-weight: 600;
  font-size: 1.5rem;
}

.cart__add {
  margin-left: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.cart__remove {
  margin-right: 1rem;
  margin-left: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.cart__total {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0 2rem auto;
  font-weight: 500;
  border-top-color: #88888857;
  border-top-style: solid;
  border-top-width: 1px;
}

.cart__total-quantity {
  padding: 1rem;
  margin: 0 auto 0 0;
  font-size: 2rem;
}

.cart__total-price {
  padding: 1rem;
  font-size: 2rem;
}

.cart__checkout {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem auto;
}

.checkout__button {
  border: 1px solid #cacaca;
  padding: 0 1rem;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkout__button:hover {
  background: #e7e7e7;
}

.checkout__icon {
  margin-left: 5px;
  color: red;
}
>>>>>>> e60820b (beta version)
