<<<<<<< HEAD
header {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    flex-basis: 30vh;
    overflow: hidden;
}
=======
header {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    flex-basis: 30vh;
    overflow: hidden;
}
>>>>>>> e60820b (beta version)
