<<<<<<< HEAD
.input {
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: 0.5rem;
    color: #000;
=======
.input {
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: 0.5rem;
    color: #000;
>>>>>>> e60820b (beta version)
}