.login {
    display: grid;
    justify-items: center;
    padding: 0 10rem;

}

.login__header {
    display: grid;
    justify-items: center;
    margin: 2rem 0;
}

.login__header h2 {
    color:#000;
    font-size: 2rem;
    padding: 0 12rem;
    margin-bottom: 3rem;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.signIn {
    text-align: center;
    border: 1px solid #cccccc;
    padding: 1rem;
}

.sign__error {
    width: auto;
    border: 1px solid #f00;
    height: 3rem;
    color: #f00;
}

.sign__error li {
    list-style: none;
}

.log__button {
    font-size: 1.7rem;
    cursor: pointer;
    border: 0px;
    height: 100%;
    width: 50%;
    background: #000;
    text-align: center;
    transition: all .2s;
    padding: 0.3rem 1rem;
    color: #fff;
    border: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.log__button:hover {
    background-color: #000000e6;
}

.sign__button {
    font-size: 1.7rem;
    cursor: pointer;
    border: 0px;
    height: 100%;
    width: 50%;
    background: #000;
    text-align: center;
    transition: all .2s;
    padding: 0.3rem 1rem;
    color: #fff;
    border: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.sign__button:hover {
    background-color: #000000e6;
}

.google__button {
    font-size: 1.7rem;
    cursor: pointer;
    border: 0px;
    height: 100%;
    width: 85%;
    background: #000;
    text-align: center;
    transition: all .2s;
    padding: 0.3rem 1rem;
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 1rem;
}

.google__button:hover {
    background-color: #000000e6;
}


